.product-detail {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    /* align-items: center; */
}
.product-price{
    font-size: 36px;
    font-weight: 800;
}
.product-description {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
.product-cart-button{
    text-align: center;
}
.product-cart-button button{
    margin-top: 100px;
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: #007bff;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .product-cart-button button:hover{
    background-color: rgb(70, 91, 112);
  }